*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9069c3;
}
.container{
    width: 450px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container span{
    color: #303030;
    font-size: 24px;
    font-weight: 600;
 }
 .container p{
    color: #303030;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 10px;
 }
 .container .input_items{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:  center;
 }
 .container .input_items input{
    width: 60%;
    height: 40px;
    border: 1px solid #303030;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}
.container .input_items button{
    width: 300px;
    height: 40px;
    margin-left: 100px;
    cursor:pointer;
    border: none;
    outline: none;
    border-radius:10px;
    font-weight: 500;
    background-color:#813cda;
    color: #fff;
    
}
.container .content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.container .content .Year ,.month, .day{
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
}
.container .content .Year p,.month p,.day p{
    font-size: 40px;
    font-weight: 500px;
    color: #813cda;
}
.container .content .Year  h5,.month h5,.day{
font-size: 15px;
color: #303030;
}
#dob{
width: 600px;
}
#d{
    font-weight: bold;
    font-size: 15px;
}
#Enter{
    margin-left: 2px;
}

/* Responsive*/
@media(max-width:600px){
    .container{
        width: 95%;
    }
}